

<div class="top">
  <div class="top-content">
    <div class="to-index">
      <h1>|埼玉県の良さを発信しよう！</h1>
      <div class="to-content">
        <i class="far fa-hand-point-right fa-3x"></i>
        <h2><%= link_to "投稿をする/見る",posts_path,type:"button",class:"btn btn-success" %></h2>
      </div>
    </div>
    <div class="to-index">
    <h1>|埼玉県ってどんなところ？</h1>
    <div class="top-message">
      <div class="top-image">
        <%= image_tag 'kobaton.png',:size=>'400x300' %>
        <p class="kobaton">埼玉県マスコット「コバトン」</p>
      </div>
      <div class="top-text">
        <h2>首都・東京に隣接する埼玉<br>
        災害が少ないという恵まれた環境のもと<br>
        住み良い暮らし、活発な経済活動が行われています。
        </h2>
      </div>
    </div>
    </div>
  </div>
  
  <div class="top-box">
    <div class="main-box">
      <div class="box-content"><i class="fas fa-building fa-3x"></i><h2>経済</h2><p>平成30年度の県内総生産は23兆2541億円で全国5位、シェアで4.1％です。</p></div>
      <div class="box-content"><i class="fas fa-train fa-3x"></i><h2>充実の鉄道網</h2><p>県内の鉄道駅総数は228駅。東日本旅客鉄道、東武鉄道、西武鉄道、東京地下鉄、秩父鉄道、埼玉高速鉄道、首都圏新都心鉄道、さいたま新都心交通の8事業、24路線あります。</p></div>
    </div>
    <div class="main-box">
      <div class="box-content"><i class="fas fa-users fa-3x"></i><h2>人口</h2><p>約734万人が暮らし、人口増加率は全国4位、生産年齢人口の割合は60.8%で全国4位となっています。</p></div>
      <div class="box-content"><i class="fas fa-car fa-3x"></i><h2>充実の道路網</h2><p>圏央道、外環道、関越道、東北道、常盤道、首都高の充実した高速道路ネットワークがある埼玉県は、交通の要衝として有憂性が大きく向上しています。</p></div>
    </div>
  </div>
</div>
