/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 
body {
 font-family: "ヒラギノ丸ゴ ProN";
}
 .top{
   overflow: hidden;
 }
 .top-content{
   width:70%;
   margin:0 auto;
 }
 .top-message{
   display: flex;
 }
 .top-text{
   width:100%;
   margin:auto;
 }

.fas{
  color:red;
}

.top-box{
  border-radius:5px;
  background-color: rgba(217, 255, 204,0.3);
  padding:10px;
  width:70%;
  margin:30px auto;
}

.main-box{
  display:flex;
}
.box-content{
  width:50%;
  padding:10px;
}

.top-image{
  position:relative;
}
.kobaton{
  position:absolute;
  top:90%;
  left:0;
}
.to-index{
    margin: 40px 0;
    padding:20px;
}
.to-content{
    display:flex;
    align-items:center;
}

.index-content{
    display:flex;
    justify-content:space-around;
    margin-top:40px;
}

.new-post{
    width:28%;
    padding:20px;
}
.post{
    width:68%;
    padding:20px;
}
.post-index{
  display:flex;
  flex-wrap:wrap;
}
.heading{
  padding:10px;
  background-color: rgba(217, 255, 204,0.3);
  display:inline-block;
}
.card{
    margin:10px 0 10px 10px;
}
.card-text{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title{
    border-bottom:solid 2px black;
    font-weight:bold
}
.post-show{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
}
.comment{
    width:40%;
    padding:20px;
    border:solid 1px gray;
    border-radius:5px;
}
.comment-index{
    overflow:scroll;
    height:600px;
    padding:20px;
    border:solid 1px gray;
    border-radius:5px;
}

.new-comment{
    margin-top:20px;
}